template(name="companies")
    
    h1.ui.center.aligned.header(style="margin: 1.5em 0") Publicly traded companies
    
    table.ui.fluid.selectable.table
        
        tbody
            each companies
                +listedCompany

template(name="listedCompany")
    tr.listed.company
        td
            | #{ticker}
        td
            | #{name}
        td
            | {{dollar lastPrice}}
        td
            | #{phrase}