template(name="mypage")
    
    h1.ui.center.aligned.header(style="margin: 1.5em 0")
        | My page
        
    
    .ui.equal.width.grid
        .column
            h3.ui.header
                | Owned stocks
            table.ui.striped.compact.selectable.table
                thead
                    tr
                        th Ticker
                        th Volume
                        th Buy price
                tbody
                    each ownedStocks
                        tr
                            td
                                | #{ticker}
                            td
                                | #{volume}
                            td
                                | {{dollar buyPrice}}
        .column