template(name="front")
    
    h1.ui.center.aligned.brown.header(style="font-size:5em;margin-top:2em;margin-bottom:0.5em")
        | The Meteor Stock Exchange
        .sub.header
            | None of the risk, all of the fun
            
            
    .ui.padded.segment
        h2.ui.header
            | Welcome to the stock exchange!
        
        p
            | This project was made during the global
            | distrubuted hackathon.
        p
            | You can browse the companies and most
            | successful traders using the menu up top.
        p
            | To start playing, use the Sign in button
            | and register your trader. You can then
            | click on a company in the company list
            | and issue buy and sell orders.
        p
            | The goal is to amass as much wealth as possible.
            | Good luck!